.counter-component {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.counter-value {
  flex-basis: calc(100% - 20px);
  padding: 10px;  
}

.counter-desc {
  flex-basis: calc(100% - 20px);
  padding: 10px; 
  font-weight: bold;
}

.counter-btn {
  flex-basis: 50%;
}
